*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Patrick Hand', cursive;
}
body{
    background-image: url(img/bg2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    position: fixed;
    height: 80px;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    background: white;
    width: 100%;
    z-index: 1;
}
.logo{
    background: url(img/logo.jpg) no-repeat 50% 50%;
    background-size: contain;
    margin-left: 50px;
    width: 10%;
    height: 80%;
    float: left;
}
.menu{
    position: absolute;
    right: 20px;
}

.menu a{
    color: #333;
    text-decoration: none;
    font-weight: 700;
    margin-left: 20px;
    transition: color 0.3s;
    text-transform: uppercase;
}
.menu a:hover{
    color: red;
}

.btn {
    display: none;
    position: absolute;
    right: 20px;
}
.btn:hover > span {
    background-color: #E85860;
}
.btn span {
    display: block;
    margin: 6px;
    width: 40px;
    height: 3px;
    background: #333;
}
.menu .shopregister{
    background-color: rgb(195, 195, 195);
    color: #000;
    width: 10px;
    padding: 5px;
    border-radius: 20px;
}
.menu .shopregister img{
    width: 20px;
    transform: translateY(4px);
    
}
/*----------------Buscador----------------*/
.buscar .titulo{
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}
.buscar h3{
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    text-align: center;
}
.buscar input[type="search"]{
    background-color: white;
    border-radius: 40px;
    border: none;
    width: 70%;
    font-size: 20px;
    padding: 25px;
}
.buscar input[type="search"]:hover{
    border: none;
}
.buscar input[type="submit"]{
    background-color: #FF0049;
    color: white;
    border: none;
    padding: 15px 50px 15px 50px;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    margin-left: 20px;
    border-radius: 50px;
}
.buscar input[type="submit"]:hover{
    background-color: rgb(211, 0, 60);
}
.buscar{
    position: static;
    top: 30%;
    width: 100%;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 20%;
}
/*----------------Promociones----------------*/
.promo{
    border-top: 20px solid white;
    background-color: #FF0049;
}
.promo h2{
    color: white;
    font-size: 60px;
    margin: 20px 20px 20px 50px;
}
.container {
    background: url(img/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    grid-gap: 1em;
    grid-template-rows: minmax(100px auto);
    padding: 50px;   
}
.container div {
    border-radius: 20px;
    background: #ffffff;
    padding: 20px;    
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .card:hover{
    position: relative;
    transform: translateY(-1%);
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  .prbe{
      color: red;
      text-decoration: line-through;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .card img{
      border-radius: 10px;
  }
/*----------------Sucursales----------------*/
.sucur{
    border-top: 20px solid white;
    background-color: #ffcc00;
    border-bottom: 20px solid white;
}
.sucur h2{
    color: white;
    font-size: 60px;
    margin: 20px 20px 20px 50px;
}

/*----------------Final----------------*/
.final{
    background-color: #ff0051;
    color: white;
    padding: 20px 20% 20px 20%;
}
.final a{
    font-size: 12px;
    color: white;
}
.final hr{
border: solid rgb(255, 144, 144);
}
.termino{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    grid-gap: 1em;
    grid-template-rows: minmax(100px auto);
}
/**/
.icon-bar1 {
    float: right;
    transform: translateY(-25px);
  }
  .icon-bar1 a {
    padding: 0px 10px 0px;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar1 a:hover {
    color: rgb(137, 34, 34);
  }
/**/
/*----------------Redes sociales----------------*/
.icon-bar {
    float: unset;
    position: fixed;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 6px;
    transition: all 0.3s ease;
    color: white;
    font-size: 30px;
  }
  
  .icon-bar a:hover {
    background-color: black;
    background-image: none;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .instagram {
    background-image: linear-gradient(rgb(168, 0, 214), red, yellow);
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
@media only screen and (max-width: 650px){
    .logo{
        margin-left: 10px;
        width: 40%;
        height: 80%;
    }
    nav {
        overflow: visible;
    }
    .menu {
        width: 100%;
        right: 0;
        top: 80px;
        background: #f1f1f1E6;
        overflow: hidden;
        max-height: 0;
    }
    .menu a{
        display: block;
        text-align: center;
        padding: 10px;
        margin: 0;
    }
    .menu .shopregister{
        margin-right: auto;
        margin-left: auto;
        width: 50%;
    }
    .buscar .titulo{
        margin-top: 200px;
        font-size: 20px;
    }
    .buscar h3{
        font-size: 20px;
    }
    .buscar input[type="search"]{
        width: 100%;
        height: 30px;
        margin-bottom: 20px;
    }
    .buscar input[type="submit"]{
        width: 40%;
        padding: 10px;
    }  

    .promo h2{
        color: white;
        font-size: 30px;
        margin: 10px;
    }
    .container {
        padding: 10px;
        background: url(img/bg4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
        grid-gap: 1em;
        grid-template-rows: minmax(100px auto);
    }
    .container div {
        border-radius: 10px;
        background: #ffffff;
        padding: 10px;    
        width: 120px;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 100px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }
    .card h1{
        font-size: 15px;
    }
    .card .desc{
        font-size: 10px;
    }
    .card:hover{
      position: relative;
      transform: translateY(-1%);
    }
    
    .price {
      color: grey;
      font-size: 12px;
    }
    .prbe{
        color: red;
        text-decoration: line-through;
        font-size: 12px;
    }
    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 12px;
    }
    
    .card button:hover {
      opacity: 0.7;
    }
    .card img{
        border-radius: 10px;
    }
    .sucur h2{
        color: white;
        font-size: 30px;
        margin: 10px;
    }
    .btn {
        display: block;
        cursor: pointer;
    }
    .show {
        max-height: 200px;
    }
    .final{
        padding: 10px;
    }
    .creditos{
        font-size: 10px;
    }
    .termino{
        font-size: 5px;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
        grid-gap: 1em;
        grid-template-rows: minmax(auto auto);
    }
    .icon-bar1 {
        float: right;
        transform: translateY(-15px);
      }
    .icon-bar1 a{
        padding: 0;
        margin-right: 5px;
        font-size: 15px;
    }
    /*Barra flotante*/
    .icon-bar a{
        font-size: 15px;
    }
}